<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>🎉 20tão do Digão 🎉</h1> 
    </header>
    <div class="content">
        <h2>Confirmação de Presença</h2>
        {% if success %}
            <div class="confirmation-message">
                ✅ Presença confirmada com sucesso, {{ name }}! Nos vemos na festa! 🎊
            </div>
        {% endif %}

        <form method="POST" action="/save_confirmation">
            <label for="name">Seu Nome:</label>
            <input type="text" id="name" name="name" placeholder="Digite seu nome" required>
            <button type="submit">Confirmar</button>
        </form>
        <a href="/main" class="back-button">Voltar</a>
    </div>
    <footer>
        <p>&copy; 2025 Convite de Veríssimo</p>
    </footer>
</body>
</html>
