<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao meu convite de aniversário!</h1>
    </header>
    <div class="content">
        <div class="question">
            <h2>{{ question.question }}</h2>
        </div>
        <div class="options">
            <form method="POST" action="/validate_answer">
                <input type="hidden" name="question" value="{{ question.question }}">
                {% for option in question.options %}
                    <button type="submit" name="answer" value="{{ option }}">{{ option }}</button>
                {% endfor %}
            </form>
        </div>
        <footer>
            <p>&copy; 2025 Convite de Veríssimo</p>
        </footer>
    </div>

    <!-- Modal de erro -->
    <div id="errorModal" style="display: none;">
        <div id="errorModalContent">
            <p>Boy, como pode errar isso?</p>
            <button onclick="closeModal()">Fechar</button>
        </div>
    </div>

    <script>
        function showModal() {
            document.getElementById('errorModal').style.display = 'flex';
        }

        function closeModal() {
            document.getElementById('errorModal').style.display = 'none';
        }

        const params = new URLSearchParams(window.location.search);
        if (params.get('error') === 'true') {
            showModal();
        }
    </script>
</body>
</html>
